<li>
	{{name}}
	{{#if devoured}}
	<button class="change-devoured  btn-outline-success" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR IT! 
	</button>
	{{/if}}

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
